@font-face {
  font-family: "CamphorPro";
  src: url("../fonts/CamphorPro-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CamphorPro";
  src: url("../fonts/CamphorPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CamphorPro";
  src: url("../fonts/CamphorPro-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "CamphorPro";
  src: url("../fonts/CamphorPro-Heavy.ttf");
  font-weight: 800;
  font-style: normal;
}
