.footer {
  position: relative;
  padding: 70px 10% 180px;
  background: #111;

  &__inner {
    display: flex;
    flex-direction: column;
    max-width: 970px;
    margin: 0 auto;

    & > div {
      margin-bottom: 50px;
    }
  }

  &__title,
  &__content {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.047em;
  }

  &__title {
    color: white;
    margin-bottom: 20px;
  }

  &__content {
    color: #818181;
    line-height: 1.6;
    text-decoration: none;
  }

  &__logo {
    position: absolute;
    bottom: 70px;
    right: 15%;
  }

  @media (min-width: 768px) {
    padding: 90px 30px 200px;

    &__inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 970px;
      margin: 0 auto;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__logo {
      bottom: 105px;
      right: 11.4%;
    }
  }
}
