.footer {
  position: relative;
  padding: 70px 15px 180px;
  background: #111;

  &__inner {
    display: flex;
    flex-direction: column;
    max-width: 970px;
    margin: 0 auto;

    & > div {
      margin-bottom: 50px;
    }
  }

  &__title,
  &__content {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.044em;
    line-height: 1.4;
  }

  &__title {
    color: white;
    margin-bottom: 12px;
  }

  &__content {
    color: #818181;
    text-decoration: none;
  }

  &__logo {
    position: absolute;
    bottom: 105px;
    right: 11.4%;
  }

  @media (min-width: 768px) {
    padding: 90px 15px 200px;

    &__inner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 970px;
      margin: 0 auto;
    }

    &__title,
    &__content {
      font-size: 20px;
    }

    &__title {
      margin-bottom: 18px;
    }
  }
}
