.header {
  position: relative;
  height: 61vh;
  min-height: 480px;
  background: #000;
  color: white;

  &__text-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  h1 {
    margin: 10% auto 0;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.18;
    letter-spacing: -0.042em;
    transition: opacity 400ms ease-out 50ms;
    animation: fadeUp 800ms cubic-bezier(0.77, 0, 0.175, 1);
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(16%);
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.burger-is-active header {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    opacity: 0;
    visibility: hidden;
    transition: 0s;
  }
}

@media (min-width: 768px) {
  .header {
    min-height: 545px;

    h1 {
      margin: 10% 0 0 18.75%;
      font-size: 40px;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    h1 {
      margin: 9% 0 0 21%;
      font-size: 48px;
    }
  }
}

// LOGO
.site-logo {
  position: absolute;
  left: 6.25%;
  top: 45px;
  mix-blend-mode: difference;
  z-index: 2;

  @media (min-width: 1025px) {
    position: fixed;
    left: 6.25%;
    top: 60px;
  }

  @media (min-width: 1280px) {
    left: 10%;
  }
}

/* === START NAVIGATION MENU === */
.menu {
  li {
    list-style: none;
    cursor: pointer;
  }

  a {
    color: #aaaaaa;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 400ms ease-in-out;

    &:hover,
    &:active {
      color: #fff;
    }

    &.active {
      color: #fff;
      position: relative;

      &::before {
        content: "■ ";
        position: absolute;
        left: -20px;
      }
    }
  }
}

.menu--main {
  display: none;
  position: fixed;
  z-index: 2;
  top: 105px;
  left: 84.6%;
  mix-blend-mode: difference;

  li:not(:last-child) {
    margin-bottom: 21px;
  }

  @media (min-width: 1025px) {
    display: block;
  }
}

.menu--mobile {
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;

  li:not(:last-child) {
    margin-bottom: 30px;
  }

  a {
    font-size: 20px;
  }
}

.burger-is-active .menu--mobile {
  opacity: 1;
  visibility: visible;
  transition: 400ms ease-out 100ms;
}

@media (min-width: 768px) {
  .menu--mobile {
    a {
      font-size: 24px;
    }
  }
}

/* === END NAVIGATION MENU === */

/* === START BURGER ICON === */
#burger-icon {
  width: 24px;
  height: 30px;
  position: absolute;
  top: 30px;
  left: 84.6%;
  cursor: pointer;
  z-index: 10;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transform-origin: left center;
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }

    &:nth-child(2) {
      top: 6px;
    }

    &:nth-child(3) {
      top: 12px;
      width: 50%;
    }
  }

  @media (min-width: 1025px) {
    display: none;
  }
}

.burger-is-active #burger-icon {
  span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
  }

  span:nth-child(2) {
    transform: rotate(-45deg);
    top: 14px;
    left: 8px;
  }

  span:nth-child(3) {
    width: 0;
    opacity: 0;
  }
}

/* === END BURGER ICON === */
