.section-what {
  position: relative;
  padding: 60px 0 50px;

  &__intro {
    max-width: 780px;
    margin-bottom: 96px;
    padding: 0 8%;
  }

  h2 {
    position: relative;
    margin-bottom: 30px;
    padding-left: 35%;
    font-size: 16px;

    &::before {
      content: url("../img/line.png");
      position: absolute;
      left: -10%;
      top: -6px;
    }
  }

  h3 {
    font-size: 18px;
    line-height: 2.2;
  }

  .see-details-link {
    display: inline-block;
    margin-top: 16px;
    margin-left: 24%;
    color: #a9a9a9;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: -0.042em;
    text-decoration: none;

    // Arrow
    img {
      margin-left: 7px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .dots {
    position: absolute;
    height: 2px;
    width: 100%;
    top: -66px;
  }

  .dot {
    position: absolute;
    height: 2px;
    width: 2px;
    background: black;
    transform: translateX(-25%);

    &--1 {
      left: 16.6%;

      @media (min-width: 768px) {
        display: none;
      }
    }

    &--2 {
      left: 33.2%;
    }

    &--3 {
      left: 49.8%;
    }

    &--4 {
      left: 66.6%;
    }

    &--5 {
      left: 83.4%;
    }
  }

  &__video-wrapper {
    position: relative;
    padding-left: 3.5%;
    margin-bottom: 60px;

    // Grey element
    &::before {
      content: "";
      background: #f4f4f4;
      position: absolute;
      width: 52%;
      left: 0;
      top: -30px;
      bottom: -35px;
    }

    video {
      position: relative;
    }

    .line-top-img {
      position: absolute;
      top: -65px;
      left: 31.25%;
      height: 181px;
    }

    a {
      position: absolute;
      right: 12px;
      bottom: -36px;
    }
  }

  &__col-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 8%;

    h3 {
      max-width: 478px;
    }
  }

  @media (min-width: 768px) {
    padding: 120px 0 100px;

    &__intro {
      max-width: 680px;
      margin-left: 7.5%;
      margin-bottom: 205px;
      padding: 0;
    }

    h2 {
      padding-left: 13.4%;
      font-size: 18px;
    }

    h3 {
      font-size: 25px;
    }

    .see-details-link {
      margin-left: 34.5%;
    }

    &__col-left {
      width: 53%;
    }

    &__video-wrapper {
      margin-bottom: initial;
      padding-left: 5%;

      // Grey element
      &::before {
        width: 62.7%;
        top: -40px;
        bottom: -45px;
      }

      a {
        right: 0;
        bottom: -45px;
      }
    }

    &__col-right {
      flex: 1;
      padding: 0 15px;

      h3 {
        font-size: 20px;
      }

      a {
        right: 0;
        bottom: -45px;
      }
    }
  }

  @media (min-width: 1024px) {
    &__intro {
      margin-left: 18%;
    }

    .line-top-img {
      top: -66px;
      height: initial;
    }

    &__col-right {
      h3 {
        font-size: 25px;
      }
    }
  }

  @media (min-width: 1280px) {
    &__intro {
      margin-left: 21%;
      max-width: 880px;
    }

    h3 {
      font-size: 30px;
    }

    &__video-wrapper {
      padding-left: 16.5%;
    }
  }
}
